<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" ng-app="centerEndApp">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/angular/ng-table.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap-switch.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap/css/fontawesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap/css/ionicons.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/angular/angular-loading-bar.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/angular/angular-toaster.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/angular/ui-select.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/angular/angucomplete.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/alte/entry.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/skins/blue-light.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Content/config.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Content/jquery/jquery-2.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jquery/jquery.form.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jquery/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jquery/jquery-ui.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/alte/entry.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/Chart.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Content/angular/angular.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/i18n/angular-locale_zh-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-animate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/ng-table.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/ng-sortable.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-route.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-file-upload.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-ui-bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/datetimepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/ui-select.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-toaster.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-cookies.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angucomplete.js")" type="text/javascript" charset="gb2312"></script>
    <script src="@Url.Content("~/Content/angular/angular-file-upload.min.js")" type="text/javascript" charset="gb2312"></script>
    <script src="@Url.Content("~/Content/angular/ng-file-upload.min.js")"></script>
    <script src="@Url.Content("~/Content/angular/oclazyload.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/angular/angular-chart.min.js")" type="text/javascript"></script>
</head>

<body class="hold-transition fixed skin-blue-light sidebar-mini">
    <div class="wrapper">
        @RenderBody()
    </div>
</body>
</html>